<a href="https://www.premierleague.com/video">
  <footer>
    <div class="foot1">
      <div class="foot_rec">
      Premier League
      Home
      Fixtures
      Results
      Tables
      Stats
      News
      Video
      Watch Live
      Clubs
      Players
      Transfers
      Awards

        Fantasy
      FPL Home
      My Team
      FPL Transfers
      Leagues
      FPL Fixtures
      Statistics
      The Scout
      FPL Draft

        Football & Community
      Wider Football
      PL Charitable Fund
      Community
      Youth Development
      No Room for Racism
      Mental Health
      Rainbow Laces
      Poppy

        About
      Overview
      What we do
      Governance
      Statement of Principles
      Inclusion
      Publications
      Partners
      Legal
      Safeguarding
      Careers
      Media

        Stats
      Dashboard
      Player Stats
      Club Stats
      All-time Stats
      Records
      Head-to-Head
      Player Comparison
      Awards

        More
      History
      Hall of Fame
      PL30
      Referees
      Managers

        Social
      PL on YouTube
      PL on Facebook
      FPL on Facebook
      PL on Twitter
      FPL on Twitter
      PL Communities on Twitter
      PL Youth on Twitter
      PL on Instagram
      PL USA on Twitter
      PL USA on Instagram
      PL India on Twitter
      PL India on Instagram
      PL Arabic on Twitter
      PL Arabic on Instagram
      PL Music on Spotify

      </div>
    </div>
  </footer>
</a>

<div class="foot2"><a href="#">
      © PREMIER LEAGUE 2023
      Modern Slavery Statement ●
      Equality, Diversity and Inclusion Standard ●
      Terms & Conditions ●
      Policies ●
      Cookie Policy
    </a>
</div>

