.footer {
  width: 100%;
  height: 250px;
  background: linear-gradient(to right, rgb(50, 6, 58), rgb(78, 17, 68), rgb(107, 27, 80));
  color: 	rgb(233, 220, 201);
  word-spacing: 5px;
  text-decoration: none;
}
