<div class="tables">
  <div class="table1">
    <div class="tab1_rec">
      <div class="tab1_head"><p>Top Teams</p></div>
      <div class="list1">
        <ol>1. A</ol>
        <ol>2. B</ol>
        <ol>3. C</ol>
        <ol>4. D</ol>
        <ol>5. E</ol>
        <ol>6. F</ol>
      </div>
    </div>
  </div>

  <div class="table2">
    <div class="tab2_rec">
      <div class="tab2_head"><p>Top Users</p></div>
      <div class="list2">
        <ol>1. A</ol>
        <ol>2. B</ol>
        <ol>3. C</ol>
        <ol>4. D</ol>
        <ol>5. E</ol>
        <ol>6. F</ol>
      </div>
    </div>
  </div>
</div>
