.login {
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  color: white;
}

.log_btns {
  display: flex;
  position: relative;
  align-items: center;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  cursor: pointer;
}

.log_btns img {
  width: 215px;
  height: 45px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(100, 85, 95, 0.5);

}

.rectangle {
  width: 81%;
  height: 250px;
  background: linear-gradient(to right, rgb(100, 103, 140), rgb(175, 155, 165));
  justify-content: center;
  align-items: center;
  margin-left: 144px;
  margin-bottom: 100px;
  color: white;
}

.rec_txt p{
  font-family: 'Bebas Neue';
  font-weight: 550;
  font-size: 60px;
  line-height: 84px;
  display: flex;
  align-items: center;
  margin-left: 150px;
}

.ff_logo{
  display: flex;
  flex-direction: column;
}

.ff_logo img{
  width: 180px;
  margin-top: -250px;
  margin-left: 880px;
}

#rec_play {
  color: rgb(16, 35, 87);
}

.sign_btn {
  background: linear-gradient(to right, rgb(107, 142, 217), rgb(124, 113, 208),  rgb(133, 102, 150));
  border: none;
  text-decoration: none;
  color: white;
  padding: 15px 60px;
  position: absolute;
  cursor: pointer;
  margin-left: 880px;
  border-radius: 20px;
  margin-top: -60px;
  transition: 500ms;
}

.sign_btn:hover{
  background: linear-gradient(to right, rgb(215, 10, 177), rgb(124, 113, 208),  rgb(144, 121, 177));
  color: black;
}

.mlogin{
  height: 150px;
  width: 100%;
  background: linear-gradient(to right, #673861, #451a43);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.sign-text{
  color: white;
  font-size: 34px;
}

.mlogin form{
  display: flex;
  justify-content: space-around;
  width: 80%;
}

.input-field {
	border: 0;
	background-color: white;
	border-bottom: 2px solid #73bffa; 
  height: 100%;
  width: 350px;
	font-size: 15px;
  padding-left: 10px;
  color: rgb(66, 66, 66);
	padding: .25rem 0;
	&:focus, &:valid {
		outline: 0;
		border-bottom-color: #6658d3;
		&+.input-label {
			color: #73bffa;
		}
	}
}

.action-button {
	font-size: 1.25rem;
	padding: 10px 90px;
	width: 100%;
	font-weight: 500;
	background: linear-gradient(to right, rgb(255, 255, 255), #f0acad, #f48289);
	border-radius: 15px;
	color: #FFF;
	border: 0;
}
