<div class="mlogin">
  <form class="card-form">
    <div class="sign-text">SIGN-IN</div>
    <div class="input">
      <input type="text" class="input-field" placeholder="e-mail/phone number"/>
    </div>
    <div class="input">
      <input type="password" class="input-field" placeholder="password"/>
    </div>
    <div class="action">
      <button class="action-button">sign-in</button>
    </div>
  </form>
</div>

<div class="login">Login with</div>

<div class="log_btns">
  <a target="_blank" href="https://www.facebook.com/v2.12/dialog/oauth?client_id=122423114856457&redirect_uri=https%3A%2F%2Fusers.premierleague.com%2Faccounts%2Ffacebook%2Flogin%2Fcallback%2F&scope=email%2Cpublic_profile&response_type=code&state=iIr9iXZhaVo5"><img id="fb" src="assets/fb_log.png"></a>
  <a target="_blank" href="https://api.twitter.com/oauth/authenticate?oauth_token=LBXcjQAAAAAAv-EGAAABh56NOHs&oauth_callback=https%3A%2F%2Fusers.premierleague.com%2Faccounts%2Ftwitter%2Flogin%2Fcallback%2F"><img id="tw" src="assets/tw_log.png"></a>
  <a target="_blank" href="https://accounts.google.com/o/oauth2/auth/oauthchooseaccount?client_id=713263538084-mq4c5k91ums3t46v22ik382rc5qd7pmp.apps.googleusercontent.com&redirect_uri=https%3A%2F%2Fusers.premierleague.com%2Faccounts%2Fgoogle%2Flogin%2Fcallback%2F&scope=profile%20email&response_type=code&state=ft8lvqUytRPa&service=lso&o2v=1&flowName=GeneralOAuthFlow"><img id="go" src="assets/go_log.png"></a>
  <a target="_blank" href="https://appleid.apple.com/auth/authorize?client_id=com.premierleague.users&redirect_uri=https%3A%2F%2Fusers.premierleague.com%2Faccounts%2Fapple%2Flogin%2Fcallback%2F&response_mode=form_post&scope=name%20email&response_type=code%20id_token&state=1pjh3iaQSRfD"><img id="ap" src="assets/ap_log.png"></a>
</div>



<div class="rectangle">
  <div class="rec_txt">
    <p>HAVE FUN. CREATE YOUR TEAM.</p>
    <p>PLAY FOOTBALL.</p>
    <p id="rec_play">PLAY WITH FANTASY FOOTBALL!</p>
  </div>
  <div class="ff_logo">
    <img src="assets/ff_logo.png">

    <input type="button" value="SIGN-UP" class="sign_btn">
  </div>
</div>

