<div class="header">
    <ul>
    <li><img src="assets\images\logo.svg"></li>
    <li>Home</li>
    <li>Fantasy</li>
    <li>Account</li>
    </ul>
</div>

<div class="fantasy">
    <div class="left">
        <div class="pitch">
            <div class="pitch-back">
                <div class="players goalkeepers">
                    <div class="player goalkeeper"><img src="../../assets/images/fantasy/goalkeeper.webp"><button>Add Goalkeeper</button></div>
                    <div class="player goalkeeper"><img src="../../assets/images/fantasy/goalkeeper.webp"><button>Add Goalkeeper</button></div>
                </div>
                <div class="players defenders">
                    <div class="player defender"><img src="../../assets/images/fantasy/player.webp"><button>Add Defender</button></div>
                    <div class="player defender"><img src="../../assets/images/fantasy/player.webp"><button>Add Defender</button></div>
                    <div class="player defender"><img src="../../assets/images/fantasy/player.webp"><button>Add Defender</button></div>
                    <div class="player defender"><img src="../../assets/images/fantasy/player.webp"><button>Add Defender</button></div>
                    <div class="player defender"><img src="../../assets/images/fantasy/player.webp"><button>Add Defender</button></div>
                </div>
                <div class="players midfielders">
                    <div class="player midfielder"><img src="../../assets/images/fantasy/player.webp"><button>Add Midfielder</button></div>
                    <div class="player midfielder"><img src="../../assets/images/fantasy/player.webp"><button>Add Midfielder</button></div>
                    <div class="player midfielder"><img src="../../assets/images/fantasy/player.webp"><button>Add Midfielder</button></div>
                    <div class="player midfielder"><img src="../../assets/images/fantasy/player.webp"><button>Add Midfielder</button></div>
                    <div class="player midfielder"><img src="../../assets/images/fantasy/player.webp"><button>Add Midfielder</button></div>
                </div>
                <div class="players forwards">
                    <div class="player forward"><img src="../../assets/images/fantasy/player.webp"><button>Add Forward</button></div>
                    <div class="player forward"><img src="../../assets/images/fantasy/player.webp"><button>Add Forward</button></div>
                    <div class="player forward"><img src="../../assets/images/fantasy/player.webp"><button>Add Forward</button></div>
                </div>
            </div>
            
            <div class="butt">
                <button>Enter Squad</button>
            </div>
        </div>
        <div class="games">
            <div class="games-text"><p>Games</p></div>
            <div class="games-list-div">
                <div class="games-list">
                    <div class="game">
                        <div class="table">
                            <div class="date">
                                <div class="date-data">
                                    <p>8 May 2023</p>
                                </div>
                            </div>
                            <div class="event-list">
                                <div class="event">
                                    <div class="event-data">
                                        <div class="team team1">
                                            <p>Arsenal</p>
                                            <img src="../../assets/images/team-logos/arsenal.png">
                                        </div>
                                        <div class="time">
                                            <div class="time-sq">
                                                <p>00:30</p>
                                            </div>
                                            
                                        </div>
                                        <div class="team team2">
                                            <p>Real Madrid</p>
                                            <img src="../../assets/images/team-logos/real-madrid.png">
                                        </div>
                                    </div>
                                </div>
                                <div class="event">
                                    <div class="event-data">
                                        <div class="team team1">
                                            <p>Barcelona</p>
                                            <img src="../../assets/images/team-logos/barcelona.png">
                                        </div>
                                        <div class="time">
                                            <div class="time-sq">
                                                <p>03:30</p>
                                            </div>
                                            
                                        </div>
                                        <div class="team team2">
                                            <p>Bayern</p>
                                            <img src="../../assets/images/team-logos/bayern.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="game">
                        <div class="table">
                            <div class="date">
                                <div class="date-data">
                                    <p>9 May 2023</p>
                                </div>
                            </div>
                            <div class="event-list">
                                <div class="event">
                                    <div class="event-data">
                                        <div class="team team1">
                                            <p>Borussia</p>
                                            <img src="../../assets/images/team-logos/borussia.png">
                                        </div>
                                        <div class="time">
                                            <div class="time-sq">
                                                <p>21:30</p>
                                            </div>
                                            
                                        </div>
                                        <div class="team team2">
                                            <p>Liverpool</p>
                                            <img src="../../assets/images/team-logos/liverpool.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="players-table-div">
            <ul class="players-table">
                <li class="section">
                    <div class="player-table">
                        <div class="head">
                            <p>Goalkeepers</p>
                        </div>
                        <div class="body">
                            <ul class="players-ul">
                                <li class="player-li">
                                    <div>
                                        <img src="../../assets/images/fantasy/yellow_goalk_shirt.webp">
                                    </div>
                                    <div>
                                        Ramsdale
                                    </div>
                                    <div>4.9</div>
                                    <div>119</div>
                                </li>
                                <li class="player-li">
                                    <div>
                                        <img src="../../assets/images/fantasy/blue_goalk_shirt.webp">
                                    </div>
                                    <div>
                                        Rope
                                    </div>
                                    <div>5.4</div>
                                    <div>134</div>
                                </li>
                                <li class="player-li">
                                    <div>
                                        <img src="../../assets/images/fantasy/purple_goalk_shirt.webp">
                                    </div>
                                    <div>
                                        Alisson
                                    </div>
                                    <div>5.4</div>
                                    <div>132</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="section">
                    <div class="player-table">
                        <div class="head">
                            <p>Defenders</p>
                        </div>
                        <div class="body">
                            <ul class="players-ul">
                                <li class="player-li">
                                    <div>
                                        <img src="../../assets/images/fantasy/striped_shirt.webp">
                                    </div>
                                    <div>
                                        Trippier
                                    </div>
                                    <div>6.2</div>
                                    <div>173</div>
                                </li>
                                <li class="player-li">
                                    <div>
                                        <img src="../../assets/images/fantasy/red_white_shirt.webp">
                                    </div>
                                    <div>
                                        White
                                    </div>
                                    <div>5.0</div>
                                    <div>139</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="section">
                    <div class="player-table">
                        <div class="head">
                            <p>Midfielders</p>
                        </div>
                        <div class="body">
                            <ul class="players-ul">
                                <li class="player-li">
                                    <div>
                                        <img src="../../assets/images/fantasy/red_shirt.webp">
                                    </div>
                                    <div>
                                        Salah
                                    </div>
                                    <div>13.0</div>
                                    <div>187</div>
                                </li>
                                <li class="player-li">
                                    <div>
                                        <img src="../../assets/images/fantasy/blue_shirt.webp">
                                    </div>
                                    <div>
                                        De Bruyne
                                    </div>
                                    <div>12.1</div>
                                    <div>159</div>
                                </li>
                                <li class="player-li">
                                    <div>
                                        <img src="../../assets/images/fantasy/blue_shirt.webp">
                                    </div>
                                    <div>
                                        Eze
                                    </div>
                                    <div>5.6</div>
                                    <div>125</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="section">
                    <div class="player-table">
                        <div class="head">
                            <p>Forwards</p>
                        </div>
                        <div class="body">
                            <ul class="players-ul">
                                <li class="player-li">
                                    <div>
                                        <img src="../../assets/images/fantasy/blue_shirt.webp">
                                    </div>
                                    <div>
                                        Haaland
                                    </div>
                                    <div>12.3</div>
                                    <div>227</div>
                                </li>
                                <li class="player-li">
                                    <div>
                                        <img src="../../assets/images/fantasy/white_shirt.webp">
                                    </div>
                                    <div>
                                        Kane
                                    </div>
                                    <div>11.5</div>
                                    <div>206</div>
                                </li>
                                <li class="player-li">
                                    <div>
                                        <img src="../../assets/images/fantasy/striped_red_shirt.webp">
                                    </div>
                                    <div>
                                        Toney
                                    </div>
                                    <div>7.6</div>
                                    <div>171</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
