<div class="header">
    <ul>
    <li><img src="assets\images\logo.svg"></li>
    <li>Home</li>
    <li>Fantasy</li>
    <li>Account</li>
    </ul>
</div>

<div class="fantasy">
    <div class="left">
        <div class="pitch">
            <div class="pitch-back">
                <div class="players goalkeepers">
                    <div class="player goalkeeper"><img src="../../assets/images/fantasy/goalkeeper.webp"><button>Add Goalkeeper</button></div>
                    <div class="player goalkeeper"><img src="../../assets/images/fantasy/goalkeeper.webp"><button>Add Goalkeeper</button></div>
                </div>
                <div class="players defenders">
                    <div class="player defender"><img src="../../assets/images/fantasy/player.webp"><button>Add Defender</button></div>
                    <div class="player defender"><img src="../../assets/images/fantasy/player.webp"><button>Add Defender</button></div>
                    <div class="player defender"><img src="../../assets/images/fantasy/player.webp"><button>Add Defender</button></div>
                    <div class="player defender"><img src="../../assets/images/fantasy/player.webp"><button>Add Defender</button></div>
                    <div class="player defender"><img src="../../assets/images/fantasy/player.webp"><button>Add Defender</button></div>
                </div>
                <div class="players midfielders">
                    <div class="player midfielder"><img src="../../assets/images/fantasy/player.webp"><button>Add Midfielder</button></div>
                    <div class="player midfielder"><img src="../../assets/images/fantasy/player.webp"><button>Add Midfielder</button></div>
                    <div class="player midfielder"><img src="../../assets/images/fantasy/player.webp"><button>Add Midfielder</button></div>
                    <div class="player midfielder"><img src="../../assets/images/fantasy/player.webp"><button>Add Midfielder</button></div>
                    <div class="player midfielder"><img src="../../assets/images/fantasy/player.webp"><button>Add Midfielder</button></div>
                </div>
                <div class="players forwards">
                    <div class="player forward"><img src="../../assets/images/fantasy/player.webp"><button>Add Forward</button></div>
                    <div class="player forward"><img src="../../assets/images/fantasy/player.webp"><button>Add Forward</button></div>
                    <div class="player forward"><img src="../../assets/images/fantasy/player.webp"><button>Add Forward</button></div>
                </div>
            </div>
            
            <div class="butt">
                <button>Enter Squad</button>
            </div>
        </div>
        <div class="games">
            <div class="games-text"><p>Games</p></div>
            <ul class="games-list">
                <li class="game">
                    <div class="table">
                        <div class="date">
                            <div class="date-data">
                                <p>8 May 2023</p>
                            </div>
                        </div>
                        <ul class="event-list">
                            <li class="event">
                                <div class="event-data">
                                    <div class="team team1">
                                        <p>Arsenal</p>
                                        <img src="../../assets/images/team-logos/arsenal.png">
                                    </div>
                                    <div class="time">
                                        <div class="time-sq">
                                            <p>00:30</p>
                                        </div>
                                        
                                    </div>
                                    <div class="team team2">
                                        <p>Real Madrid</p>
                                        <img src="../../assets/images/team-logos/real-madrid.png">
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                
            </ul>
        </div>
    </div>
    <div class="right">

    </div>
</div>