<div class="header">
    <ul>
    <li routerLink="/main"><img src="assets\images\logo.svg"></li>
    <li routerLink="/main">Home</li>
    <li routerLink="/fantasy">Fantasy</li>
    <li routerLink="/account">Account</li>
    </ul>
</div>

<div class="fantasy">
    <div class="left">
        <div class="pitch">
            <div class="pitch-back">
                <div class="players goalkeepers">
                    <div class="player goalkeeper"><img src="../../assets/images/fantasy/goalkeeper.webp"><button (click)="change('GK')">Add Goalkeeper</button></div>
                    <div class="player goalkeeper"><img src="../../assets/images/fantasy/goalkeeper.webp"><button (click)="change('GK')">Add Goalkeeper</button></div>
                </div>
                <div class="players defenders">
                    <div class="player defender"><img src="../../assets/images/fantasy/player.webp"><button (click)="change('DF')">Add Defender</button></div>
                    <div class="player defender"><img src="../../assets/images/fantasy/player.webp"><button (click)="change('DF')">Add Defender</button></div>
                    <div class="player defender"><img src="../../assets/images/fantasy/player.webp"><button (click)="change('DF')">Add Defender</button></div>
                    <div class="player defender"><img src="../../assets/images/fantasy/player.webp"><button (click)="change('DF')">Add Defender</button></div>
                    <div class="player defender"><img src="../../assets/images/fantasy/player.webp"><button (click)="change('DF')">Add Defender</button></div>
                </div>
                <div class="players midfielders">
                    <div class="player midfielder"><img src="../../assets/images/fantasy/player.webp"><button (click)="change('MF')">Add Midfielder</button></div>
                    <div class="player midfielder"><img src="../../assets/images/fantasy/player.webp"><button (click)="change('MF')">Add Midfielder</button></div>
                    <div class="player midfielder"><img src="../../assets/images/fantasy/player.webp"><button (click)="change('MF')">Add Midfielder</button></div>
                    <div class="player midfielder"><img src="../../assets/images/fantasy/player.webp"><button (click)="change('MF')">Add Midfielder</button></div>
                    <div class="player midfielder"><img src="../../assets/images/fantasy/player.webp"><button (click)="change('MF')">Add Midfielder</button></div>
                </div>
                <div class="players forwards">
                    <div class="player forward"><img src="../../assets/images/fantasy/player.webp"><button (click)="change('FW')">Add Forward</button></div>
                    <div class="player forward"><img src="../../assets/images/fantasy/player.webp"><button (click)="change('FW')">Add Forward</button></div>
                    <div class="player forward"><img src="../../assets/images/fantasy/player.webp"><button (click)="change('FW')">Add Forward</button></div>
                </div>
            </div>

            <div class="butt">
                <button>Enter Squad</button>
                <button (click)="reset()">Reset Filter</button>
            </div>
        </div>
        <div class="games">
            <div class="games-text"><p>Games</p></div>
            <div class="games-list-div">
                <div class="games-list">
                    <div class="game">
                        <div class="table">
                            <div class="date">
                                <div class="date-data">
                                    <p>8 May 2023</p>
                                </div>
                            </div>
                            <div class="event-list">
                                <div class="event">
                                    <div class="event-data">
                                        <div class="team team1">
                                            <p>Arsenal</p>
                                            <img src="../../assets/images/team-logos/arsenal.png">
                                        </div>
                                        <div class="time">
                                            <div class="time-sq">
                                                <p>00:30</p>
                                            </div>

                                        </div>
                                        <div class="team team2">
                                            <p>Real Madrid</p>
                                            <img src="../../assets/images/team-logos/real-madrid.png">
                                        </div>
                                    </div>
                                </div>
                                <div class="event">
                                    <div class="event-data">
                                        <div class="team team1">
                                            <p>Barcelona</p>
                                            <img src="../../assets/images/team-logos/barcelona.png">
                                        </div>
                                        <div class="time">
                                            <div class="time-sq">
                                                <p>03:30</p>
                                            </div>

                                        </div>
                                        <div class="team team2">
                                            <p>Bayern</p>
                                            <img src="../../assets/images/team-logos/bayern.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="game">
                        <div class="table">
                            <div class="date">
                                <div class="date-data">
                                    <p>9 May 2023</p>
                                </div>
                            </div>
                            <div class="event-list">
                                <div class="event">
                                    <div class="event-data">
                                        <div class="team team1">
                                            <p>Borussia</p>
                                            <img src="../../assets/images/team-logos/borussia.png">
                                        </div>
                                        <div class="time">
                                            <div class="time-sq">
                                                <p>21:30</p>
                                            </div>

                                        </div>
                                        <div class="team team2">
                                            <p>Liverpool</p>
                                            <img src="../../assets/images/team-logos/liverpool.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="players-table-div">
            <ul class="players-table">
                <li class="section" *ngIf="type == 'None' || type == 'GK'">
                    <div class="player-table">
                        <div class="head">
                            <p>Goalkeepers</p>
                        </div>
                        <div class="body">
                            <ul class="players-ul" *ngFor="let player of GK;">
                                <li class="player-li">
                                    <div>
                                        <img [src]="player.src">
                                    </div>
                                    <div>
                                        {{player.name}}
                                    </div>
                                    <div>{{player.cost}}</div>
                                    <div>{{player.rating}}</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="section" *ngIf="type == 'None' || type == 'DF'">
                    <div class="player-table">
                        <div class="head">
                            <p>Defenders</p>
                        </div>
                        <div class="body">
                            <ul class="players-ul" *ngFor="let player of DF;">
                                <li class="player-li">
                                    <div>
                                        <img [src]="player.src">
                                    </div>
                                    <div>
                                        {{player.name}}
                                    </div>
                                    <div>{{player.cost}}</div>
                                    <div>{{player.rating}}</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="section" *ngIf="type == 'None' || type == 'MF'">
                    <div class="player-table">
                        <div class="head">
                            <p>Midfielders</p>
                        </div>
                        <div class="body">
                            <ul class="players-ul" *ngFor="let player of MF;">
                                <li class="player-li">
                                    <div>
                                        <img [src]="player.src">
                                    </div>
                                    <div>
                                        {{player.name}}
                                    </div>
                                    <div>{{player.cost}}</div>
                                    <div>{{player.rating}}</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="section" *ngIf="type == 'None' || type == 'FW'">
                    <div class="player-table">
                        <div class="head">
                            <p>Forwards</p>
                        </div>
                        <div class="body">
                            <ul class="players-ul" *ngFor="let player of FW;">
                                <li class="player-li">
                                    <div>
                                        <img [src]="player.src">
                                    </div>
                                    <div>
                                        {{player.name}}
                                    </div>
                                    <div>{{player.cost}}</div>
                                    <div>{{player.rating}}</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<app-footer></app-footer>
