<a href="https://www.premierleague.com/news/3208525" target="_blank" class="news_link">
  <div class="latest_news"><p>Latest from the Scout</p></div>
  <div class="news_rec">
      <img id="news_img" src="assets/news1.png">
      <div class="news_p">
        <p id="news_p1">Who are the best defenders for Blank Gameweek 32 in FPL?</p>
        <!-- <p id="news_p2">Blank Gameweek 32 in FPL?</p> -->
        <p id="news_p3">The Scouts at the top candidates to help Fantasy managers negotiate the reduced</p>
        <p id="news_p4">round of fixtures</p>
        <p id="news_p5">19/04/2023</p>
      </div>
    </div>
</a>

