<div class="signup">
    <div class="sign-form">
        <form class="form" [(ngModel)]="user">
            <div class="login-text">
                <p>LOG-IN</p>
            </div>
            <div class="login-form">
                <div class="name reg">
                    <div class="reg-text">E-MAIL/PHONE</div>
                    <input type="text" [(ngModel)]="user.username">
                </div>
                <div class="name reg">
                    <div class="reg-text"[(ngModel)]="user.password">PASSWORD</div>
                    <input type="password">
                </div>
            </div>
            <div class="next-button">
                <button routerLink="/main">SIGN-IN</button>
            </div>
        </form>
        
    </div>
    <div class="footer">
        <p>Still don't have an account?</p>
        <p>Create it! <a routerLink="/signup">SIGN-UP</a></p>
    </div>
</div>