<div class="rectangle">
  <div class="matches">
    <div class="matches_header">
      <p id="p1">Matchweek 33</p>
      <p id="p2">Premier League</p>
      <ul *ngFor="let game of games;">
        <li>
          <p id="p3">{{game.date.day}}</p>
          <ul class="matches_table" *ngFor="let sch of game.game;">
            <li class="main_li">
              <div class="match1">
                <div class="team1">
                  <div class="team1_name"><p>{{sch.team1}}</p></div>
                  <div class="team1_img"><img [src]="sch.team1Src"></div>
                </div>
                <div class="score1">
                  <div class="score_dig" *ngIf="sch.team1g >= 0">
                    {{sch.team1g}}
                  </div>
                  <div class="score_dig" *ngIf="sch.team1g >= 0">
                    {{sch.team2g}}
                  </div>
                  <div class="time" *ngIf="sch.team1g < 0">
                    <p>{{sch.time}}</p>
                  </div>
                </div>
                <div class="team2">
                  <div class="team2_name"><p>{{sch.team2}}</p></div>
                  <div class="team2_img"><img [src]="sch.team2Src"></div>
                </div>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="standings">
      <div class="standings_header">
        <p id="p4">Pos</p>
        <p id="p4" class="s_club">Club</p>
        <p id="p4">Pl</p>
        <p id="p4">GD</p>
        <p id="p4">Pts</p>
      </div>
      <ul class="main_standings_ul" *ngFor="let team of leaderbord;">
        <li class="main_standings">
          <div class="standings_li">
            <div class="standings_pos">{{team.position}}</div>
            <div class="standings_club"><img [src]="team.src">{{team.club}}</div>
            <div class="standings_played">{{team.pl}}</div>
            <div class="standings_goal"><p *ngIf="team.gd > 0">+</p>{{team.gd}}</div>
            <div class="standings_points">{{team.pts}}</div>
          </div>
        </li>
      </ul>
    </div>
  </div>


  <div class="megadiv">
    <div class="maindiv">
      <img id="news2_img" src="assets/news2.png">
      <div class="rectangle2">
        <div class="title">
          <p>Fantasy Premier League</p>
          <h1>The Scout's best captain for Gameweek 33</h1>
        </div>
        <div class="body">
          <p id="news_p2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
      </div>
    </div>

    <div class="latest_news">
      <div class="latest_header">Latest News</div>
      <div class="latest_rectangle">

        <ul class="latest_ul">
          <li class="latest_li">
            <a href="https://www.premierleague.com/news/3236404"><div class="latest_img"><img src="assets/pep.png"></div>
            <div class="latest_title">Guardiola hails connection between De Bruyne and Haaland</div></a>
          </li>


          <li class="latest_li">
            <a href="https://www.premierleague.com/news/3236401"><div class="latest_img"><img src="assets/arteta.png"></div>
            <div class="latest_title">Arteta: We're not going to give up</div></a>
          </li>


          <li class="latest_li">
            <a href="https://www.premierleague.com/news/3236349"><div class="latest_img"><img src="assets/city.png"></div>
            <div class="latest_title">De Bruyne and Haaland put Man City in control in title race</div></a>
          </li>


          <li class="latest_li">
            <a href="https://www.premierleague.com/news/3236207"><div class="latest_img"><img src="assets/shef.png"></div>
            <div class="latest_title">Sheffield United promoted back to the Premier League</div></a>
          </li>


          <li class="latest_li">
            <a href="https://www.premierleague.com/news/3236410"><div class="latest_img"><img src="assets/pool.png"></div>
            <div class="latest_title">Liverpool climb to sixth with comeback win at West Ham</div></a>
          </li>


          <li class="latest_li">
            <a href="https://www.premierleague.com/news/3235238"><div class="latest_img"><img src="assets/antony.png"></div>
            <div class="latest_title">Antony must step up to create trouble for Spurs</div></a>
          </li>

        </ul>
      </div>
    </div>
  </div>


</div>
