li{
  list-style: none;
  cursor: pointer;
  font-size: 24px;
  color:  rgb(49, 20, 72);
}

.header li:hover{
    text-decoration: underline;
    color: black;
}

.header{
    width: 100%;
    height: 100px;
    background-color: #ececec;
    display: flex;
    align-items: center;
}

.header ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.header img{
    width: 100px;
}
