<div class="header">
    <ul>
        <li routerLink="/main"><img src="assets\images\logo.svg"></li>
        <li routerLink="/main">Home</li>
        <li routerLink="/fantasy">Fantasy</li>
        <li routerLink="/account">Account</li>
    </ul>
</div>

<div class="signup">
    <div class="purple-div">
        <div class="purple">
            YOUR ACCOUNT
        </div>
    </div>
    <div class="profile-info" *ngIf="!update">
        <div class="name">
            <div class="prof-img"><img src="../../assets/images/team-logos/manchester-united.png"></div>
            <p>Zhagypar Gabdylgaziz</p>
        </div>
        <div class="info">
            <ul class="info-ul">
                <li class="info-li">
                    <div class="li-holder">Email/Phone: </div>
                    <div class="li-text">g_zhagypar@kbtu.kz</div>
                </li>
                <li class="info-li">
                    <div class="li-holder">Score: </div>
                    <div class="li-text">1000</div>
                </li>
                <li class="info-li">
                    <div class="li-holder">Rank: </div>
                    <div class="li-text">1</div>
                </li>
                <li class="info-li">
                    <div class="li-holder">Fav-team: </div>
                    <div class="li-text">Manchester United</div>
                </li>
                <li class="info-li">
                    <div class="li-holder">Age: </div>
                    <div class="li-text">19</div>
                </li>
                <li class="info-li">
                    <div class="li-holder">Gender: </div>
                    <div class="li-text">Male</div>
                </li>
            </ul>
        </div>
        <div class="update-button">
            <button (click)="isUpdate()">UPDATE PROFILE</button>
        </div>
    </div>
</div>