li{
    list-style: none;
    cursor: pointer;
    font-size: 24px;
    
}

.header li{
    color:#0c225a;
}

.header li:hover{
    text-decoration: underline;
    color: black;
}

.header{
    width: 100%;
    height: 100px;
    background-color: #ececec;
    display: flex;
    align-items: center;
}

.header ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.header img{
    width: 100px;
}

.signup{
    height: 100vh;
    width: 100%;
    background-color: #e0e0e0;
}

.purple-div{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.purple{
    width: 80%;
    height: 50px;
    color: white;
    background-color: #491d46;
    display: flex;
    align-items: center;
    padding: 0 1%;
    font-weight: 600;
}

.name{
    display: flex;
    align-items: center;
    width: 100%;
}

.prof-img{
    background-color: white;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.name{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.name p{
    font-size: 25px;
}

.profile-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.info-li{
    display: flex;
    gap: 10px;
}

.li-holder{
    width: 150px;
    margin-right: 50px;
}

.li-text{
    width: 200px;
}

.update-button button{
    padding: 15px 32px;
    background-color: #491d46;
    color: white;
    border: none;
}