<div class="main">
  <div class="header">
    <ul>
      <li><img src="assets\images\logo.svg"></li>
      <li>Home</li>
      <li>Fantasy</li>
      <li>Account</li>
    </ul>
  </div>
  <div class = 'right'>
    <div class="text">
      MAKE YOUR CHOISE
        BE THE BEST!
    </div>      
  </div>
</div>

<div class="teams">
  <ul class="team-list">
    <li><a href="https://www.bvb.de/eng"><img src="../../assets/images/team-logos/borussia.png"></a></li>
    <li><a href="https://www.chelseafc.com/en"><img src="../../assets/images/team-logos/chelsea.png"></a></li>
    <li><a href="https://www.realmadrid.com/"><img src="../../assets/images/team-logos/real-madrid.png"></a></li>
    <li><a href="https://www.mancity.com/"><img src="../../assets/images/team-logos/manchester-city.png"></a></li>
    <li><a href="https://www.fcbarcelona.com/en/"><img src="../../assets/images/team-logos/barcelona.png"></a></li>
    <li><a href="https://en.psg.fr/"><img src="../../assets/images/team-logos/psg.png"></a></li>
    <li><a href="https://fcbayern.com/en"><img src="../../assets/images/team-logos/bayern.png"></a></li>
    <li><a href="https://www.arsenal.com/"><img src="../../assets/images/team-logos/arsenal.png"></a></li>
    <li><a href="https://www.manutd.com/"><img src="../../assets/images/team-logos/manchester-united.png"></a></li>
    <li><a href="https://www.acmilan.com/en"><img src="../../assets/images/team-logos/milan.png"></a></li>
  </ul>
</div>