li{
    list-style: none;
    cursor: pointer;
    font-size: 24px;
    color: white;
}

li:hover{
    text-decoration: underline;
    color: rgb(49, 20, 72);
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    background-image: url('../../assets/images/backg.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 720px;
    background-position: 0px 0;
    background-size: cover;
}

.right{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 500;
}

.right .text{
    font-size: 120px;
    color: white;
    margin-bottom: 30px;
    font-family: 'Bebas Neue';
}

.header{
    width: 100%;
    height: 100px;
    background-color: rgba(170, 170, 170, 0.781);
    display: flex;
    align-items: center;
}

.header ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.header img{
    width: 100px;
}

.teams{
    width: 100%;
    height: 120px;
    background-color: #7e83b8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-list {
    width: 100%;
    display: flex;
    width: 145px;
    height: 100px;
    justify-content: center;
}
